name: "units-test"
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'
    tags:
      - v*

jobs:
  # unit tests
  units:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - run: npm ci
    - run: npm run lint
    - run: npm test

  # test action works running from the graph
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - run: |
        mkdir -p artifacts/1/2/
        echo 1 > artifacts/1.txt
        echo 2 > artifacts/1/2.txt
        echo 3 > artifacts/1/2/3.txt

    - uses: ./
      if: startsWith(github.ref, 'refs/tags/v')
      with:
        directory: artifacts/
        github-token: ${{ secrets.GITHUB_TOKEN }}
        tag-prefix: 'refs/tags/v'
        bump-up-branch-prefix: 'bump-version-'
